const apiKeys = {
  firebaseConfig: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',

  },
  githubApi: {
    client_id: '',
    client_secret: '',
  }
};

export default apiKeys;
